[2012-12-31 18:19] rgrp opened #2 "Add edit button linking back to relevant item in this github repo to all resources pages ..."
For extra points hitting edit gives a popup with some brief instructions and then link back to the file in github repo

[2013-08-13 20:44] psychemedia opened #4 "Reconcile help/API navigation and page titles"
On API help pages (eg http://openspending.org/help/api.html ) the headings in the menu down the left hand side are often completely different to the titles of the page those pages load. For example:

Financial data types -> Financial data types in OpenSpending
How we store data -> How does OpenSpending store data?

Overview -> Loading Data into OpenSpending
Cleaning Data -> How Do I Clean My Data?

[2013-08-13 20:47] psychemedia opened #5 "Example API queries"
I'm really struggling to make even the simplest API calls based on the documentation shown.

Has anyone got a list of example URLs for calling the API (both search API and aggregation API) for a range of "useful" queries (it would be handy to have a line or two about what the dataset represents as well as the URL)? These are a great way of helping the 'try something that already works then hack it

[2013-08-13 20:53] psychemedia opened #6 "Exposing API Calling URL Links in Data Views"
Would it be useful to provide a link to an API query URL for views over data generated in the search interface for each dataset?

For example, if I search a particular dataset for a particular term and then select a few filters/facets, if we provided a link to the corresponding API call it would allow users to use openspending.org to build up a query/data view, and then grab a link that they could

[2013-08-14 15:07] nmashton commented on #4
Note that we're in the process of migrating most of the dotorg site content to [blog.openspending.org](http://blog.openspending.org), which will become community.openspending.org in the near future.

I've already moved over [part of the help content](http://blog.openspending.org/help/) (with reconciled titles!), and some of it has been rewritten as part of [The OpenSpending Guide](http://blog.open

[2013-08-26 13:45] jwyg opened #8 "Subtitle"
http://openspending.org/resources/osi/

"How civil society organisations use technology to wrangle government spending data. " -> is this just about wrangling spending data? Given the threefold mission you mention in the introduction, isn't this more about how CSOs use data about public finances (and not just spending)?

Hence what about: "How civil society organisations use data about public fina

[2013-08-26 18:13] jwyg opened #24 "Putting the Open Data Into Open Budgets"
http://openspending.org/resources/osi/appendix-open-budgets-open-data.html

Here's where I'd mention all of the confusion around 'open' and 'standard' language. And perhaps if we need to mention it in text above, we can just link here?

"We have looked in detail in this report at criteria which make it difficult for organisations to use data that has been released by governments." -> "In this repo

[2015-03-08 17:03] rgrp opened #28 "Migrate Community.OpenSpending.org back to github pages / jekyll-based site"
**Update: the in progress analysis and plan is in this [google doc](https://docs.google.com/document/d/1WmkI7RBd9GVXyROgZamZZKMBKfbOAEO0jxF-jfk1f1k/edit)**

* [x] Review this repo
* [x] Identify diff with current wordpress powered community.openspending.org
* [x] Detail content migration
* [x] Re-theme
* [x] Detail other migration (e.g. DNS etc)

### Detailed Items

Note: *italics* indicate less i

[2015-03-08 17:04] rufuspollock commented on #28
Please add your name here if you are interested in contributing (no technical expertise is needed).

[2015-05-02 12:47] rgrp opened #29 "[dump] Resources to include"
* R OpenSpending library - https://github.com/mihi-tr/r-openspending
* List of all satellite sites

[2015-06-14 13:49] rgrp opened #30 "Members section"

[2015-06-17 17:01] danfowler commented on #28
- [ ] ~~commit CNAME file to repo: community.openspending.org~~
- [ ] ~~shorten TTL before changing DNS records~~
- [ ] ~~update CNAME in DNS records of community.openspending.org to [point to GitHub](https://help.github.com/articles/setting-up-a-custom-domain-with-github-pages/)~~
- [ ] ~~undo redirection of blog.openspending.org to community.openspending.org~~
- [ ] ~~redirect community.openspen

[2015-06-17 17:03] danfowler opened #31 "Clear out irrelevant/outdated GitHub issues"
(including this one when completed)

[2015-06-18 20:42] rufuspollock commented on #28
@danfowler great points and i've merged back up to main issue and added some other stuff.

[2015-06-20 16:04] danfowler opened #32 "Prominent linking to/with https://discuss.okfn.org/c/openspending"

[2015-06-21 02:49] rgrp opened #33 "Recent changes page"
Useful to have - Can just use githubActivity.js

Suggest we put this at e.g. `/meta/changes/` (or just at `/recent-changes/`

[2015-06-21 02:50] rufuspollock commented on #28
@danfowler i've just added a point about a `/meta/` section for contribute stuff - see description.

[2015-06-22 06:18] pwalsh opened #34 "Migrating blog to Jekyll?"
Are there plans to migrate the blog to Jekyll along with the community site?

[2015-06-22 08:28] danfowler opened #36 "Remove non-existent layouts"

[2015-06-22 08:29] danfowler commented on #34
The plan is to leave the blog on Wordpress for the moment.

[2015-06-22 08:39] danfowler commented on #2
This is implemented in the new site.

[2015-06-22 08:39] #2 closed

[2015-06-22 08:42] danfowler commented on #4
New site reflects the organization of the Wordpress site.

[2015-06-22 08:42] #4 closed

[2015-06-22 08:44] danfowler commented on #5
Closing as it has been a long time, and this is probably a question for the forums anyway: http://discuss.okfn.org/c/openspending

[2015-06-22 08:44] #5 closed

[2015-06-22 08:44] danfowler commented on #6
Closing as it has been a long time, and this is probably a question for the forums anyway: http://discuss.okfn.org/c/openspending

[2015-06-22 08:44] #6 closed

[2015-06-22 13:27] rufuspollock commented on #34
@pwalsh basic answer is: "yes" - but right now we may leave on wordpress to save time. real question is the benefit of all in one vs any barriers (we get more users blogging) and/orr lack of features for jekyll as blogging platform.

@danfowler if you think it would be easy to migrate the blog maybe we should just go for it (it may actually save time to have everything in one place and not have to

[2015-06-23 23:40] rufuspollock commented on #34
@danfowler wdyt on taking this on? I think we go do this and just shut wordpress down.

[2015-06-24 03:01] danfowler commented on #34
Yes, this is very doable.  I have the posts already from wordpress export, so they can be easily added to dotorg repo.

[2015-06-24 03:15] rufuspollock commented on #34
Let's do it.

One question: I guess for the blog we won't go for our `/.../.../` naming but will allow .html on page names (or do we want to keep that model and just posts in an index.md inside a directory ...).

[2015-06-24 03:42] danfowler commented on #34
`permalink: /:categories/:year/:month/:title/`will allow each post's link to have a trailing slash without needing an index.md in a directory.

[2015-06-24 04:05] rufuspollock commented on #34
sounds great!

[2015-06-25 04:55] danfowler opened #37 "Add some way to surface newly added material"
When a new report comes in, it might be nice to have a way to say, "hey, this is new" in addition to whatever blog post announces it.  Perhaps a publish_date attribute on a new report index.md?

[2015-06-27 01:36] #33 closed

[2015-06-27 07:01] danfowler commented on #34
Blog is migrated.

[2015-06-27 07:01] #34 closed

[2015-06-27 08:11] danfowler opened #38 "Get EU report into http://community.openspending.org/ - wiki version"
- [x] Take into account most recent changes in response to public comments
- [x] Determine whether to represent Funds/Datasets databases as Jekyll collections or not
- [ ] Replace remaining Google URL redirects (a symptom of working in Google Docs)
- [x] Add navigation
- [x] Re-add formatting (bold, italics)
- [x] Add @pzwsk to repo
- [x] Make sure Markdown supports footnotes
- [x] Remove old EU r

[2015-06-27 08:45] danfowler commented on #32
Maybe one more link?

[2015-06-27 08:50] #32 closed

[2015-06-27 08:54] #36 closed

[2015-06-27 08:59] danfowler commented on #8
Closing as I assume the text of the report has been finalized (at least for now).

[2015-06-27 08:59] #8 closed

[2015-06-27 08:59] danfowler commented on #24
Closing as I assume the text of the report has been finalized (at least for now).

[2015-06-27 08:59] #24 closed

[2015-06-27 08:59] #31 closed

[2015-06-27 09:01] danfowler commented on #28
Now that the bulk of the main migration tasks are completed, will make new issue for remaining cleanup tasks.

[2015-06-27 09:01] #28 closed

[2015-06-27 09:02] danfowler opened #39 "Remaining cleanup after migration"
- [x]  Page history (like Edit this Page) - linking to git history on github
- [x] Work out all redirects and implement them in _config.yml
- [x] Front page - still needs some work (e.g. to link to core sections)
- [x] Also should we auto-expand menu (may not be obvious to users)
- [x] Tweak tagline - cf current community site ...
- [x] Point to main database - people may have ended up here and wo

[2015-06-27 13:18] danfowler commented on #38
@pzwsk let me know when you have time to chat.  Currently I'm on Bangkok time.

[2015-06-27 16:31] rufuspollock commented on #39
@danfowler i'd also add:
- sorting the main menu to have a sensible ordering
- content tweaks (e.g. i think we thought the help section could do with some refactoring)

[2015-06-28 08:19] danfowler commented on #38
OK, I uploaded the full export of the report into Markdown from the Google Docs: https://github.com/openspending/dotorg/blob/gh-pages/resources/eu/export.md

I suggest we just split the sections of this document into their respective folders and clean up from there.  For some reason, styles like bold and italic aren't preserved.

[2015-06-28 15:49] danfowler commented on #39
Added.

[2015-06-28 15:51] danfowler commented on #38
Lots of content in its right place, but would be worth examining each section for formatting issues, organization, etc.  Open Data audit still to be added.

[2015-06-29 15:10] danfowler commented on #38
@rgrp re: /resources/eu/datasets/, rows 2,3,4 are in, for the rest, should the permalinks be something like:
- /resources/eu/datasets/common-agricultural-policy-cap-fr
- /resources/eu/datasets/common-agricultural-policy-cap-gr
- /resources/eu/datasets/common-agricultural-policy-cap-pl
- ...

[2015-06-29 15:13] rufuspollock commented on #38
@danfowler that url structure looks great.

[2015-06-29 17:06] pzwsk commented on #38
Hi Daniel, I am planning to work on EU budget next week and I am available
for a call as of Tuesday July 7th. Would a call that day be ok for you ?

Thanks
Pierre

Le sam 27 juin 2015 15:18, Daniel Fowler notifications@github.com a
écrit :

[2015-06-29 19:03] rufuspollock commented on #38
@pzwsk the issue is the planned release date was _this_ wednesday - not next week ;-) (Have you seen the skype chat thread on this).

[2015-07-01 14:40] rgrp opened #41 "Footer issues with list of funders when sidebar shown"
When sidebar is active on normal pages the list of funders wraps to two lines and looks bad.

I suggest we have list of funders on own separate line (e.g. second line after logo stuff).

Aside: we should add Hewlett Foundation logo.

[2015-07-01 14:40] rufuspollock commented on #41
@mintcanary one for you (?)

[2015-07-01 14:53] smth commented on #41
Yes, I will have a look.

[2015-07-02 08:24] smth commented on #36
Was this in relation to the `Layout 'x' requested in y does not exist.` warnings? I'm just running this for the first time and seeing lots of these.

[2015-07-02 09:20] danfowler commented on #36
Yes, these are remnants of old pages from the previous site.  I still need to go through and think about how to represent the 'handbook' and 'standard' with the new theme.  Some of these warnings I can eliminate pretty easily by removing pages that have already been replaced with their new equivalents.

[2015-07-02 09:27] danfowler commented on #36
I work on removing these warnings once you've made your commits.

[2015-07-02 09:47] #41 closed

[2015-07-02 12:49] milafrerichs opened #42 "Map of spending projects does not work"
Hello,

while going through the site I wanted to open the map of spending projects.
But it is not there:
http://community.openspending.org/resources/map-of-spending-projects/
[code]
https://github.com/openspending/dotorg/blob/gh-pages/resources/map-of-spending-projects/index.md

The iframe is not displayed and the map at
http://www.annaflagg.com/os
does not work either.

Just letting you know :)

[2015-07-04 09:56] danfowler commented on #42
Thanks for flagging this!  As the source is no longer working, I suppose we will just remove.

[2015-07-04 11:05] rufuspollock commented on #39
Menu
- Home
- Get Involved
  - OpenSpending Next
  - Events
- Help and Guides
- Resources
  - EU stuff - great submenu

---
- Meta
- About
- Blog

[2015-07-04 11:11] rufuspollock commented on #42
See https://trello.com/c/dvXbOghc/25-create-a-map-or-visualisation-of-our-coverage-and-use-cases - we have the underlying spreadsheet there (though i think anna flag forked it when making her map and her spreadsheet has disappeared).

[2015-07-09 11:08] rgrp opened #43 "Menus do not reflect context of current page"
Side menu is not "open" to the current page. This means that when you navigate around e.g. EU guide you lose "context".

@mintcanary any thoughts here? Does the issue make sense?

[2015-07-09 11:09] rufuspollock commented on #39
All we will do remaining is sort out redirects.

[2015-07-09 11:18] smth commented on #43
It does make sense. This will be due to the "active" menu item not having the `Selected` class applied.

Solution is to check url and apply the class as appropriate. Something like:

[code]

(Will most likely need to be slightly more complicated than that)

[2015-07-09 14:48] rufuspollock commented on #38
@danfowler one issue i just noticed re datasets list http://community.openspending.org/resources/eu/datasets/
- Currently we have listed all the local country funds e.g. Beneficiaries of the Common Agricultural Policy (Austria). IIRC when we discussed plan was just to have one dataset entry namely "Common Agricultural Policy" and not break down by country. Ditto for cohesion policy
- I would remov

[2015-07-09 16:54] mintcanary opened #44 "Site title / logo breaks onto two lines on small (phone) screens"

[2015-07-09 17:43] danfowler commented on #38
Is this more in line with what you were thinking: http://community.openspending.org/resources/eu/datasets/

[2015-07-10 08:33] rufuspollock commented on #38
@danfowler perfect!

And I guess we can close this issue - hurrah!

[2015-07-10 11:29] danfowler commented on #39
@rgrp Was working on this just now, and noticed that the old blog post permalink format was something like:

http://community.openspending.org/2014/03/hackathon-odd14-barcelona/

(As seen here: https://twitter.com/openspending/status/449576966329339904)

Whereas the default new one would be:

http://community.openspending.org/blog/2014/03/28/hackathon-odd14-barcelona/

Should we keep the old forma

[2015-07-10 14:02] #38 closed

[2015-07-10 14:03] danfowler commented on #38
Yay!

[2015-07-10 14:49] danfowler commented on #43
Thanks @mintcanary for the explanation.  I've resolved this issue.

[2015-07-10 14:49] #43 closed

[2015-07-10 15:09] danfowler commented on #39
Hm, in trying to switch to a permalink style other than 'pretty' for blog posts, I ran into this issue: https://github.com/jekyll/jekyll/issues/2691

Basically, we would lose the 'pretty' permalink for pages (trailing slash) with no clear way to re-enable aside from manually renaming the files, pushing into directories, etc.

[2015-07-10 15:12] danfowler commented on #38
Oh, and report navigation added to sidebar menu.

[2015-07-10 16:00] rufuspollock commented on #39
I'm happy with subdomain blog - we will just have to do more redirect work. Happy for you to call it.

[2015-07-11 07:42] danfowler commented on #39
Cool. Will add redirects for old posts.

[2015-07-11 11:43] danfowler commented on #39
Posts redirected.

[2015-07-19 13:55] jindrichmynarz opened #45 "Keep old URLs alive"
With the recent [restructuring of the OpenSpending.org site](http://community.openspending.org/blog/2015/07/09/openspending-community-new-home/) several URLs from the previous site structure ceased to work. For example, the page for the (now deprecated) [data standard for transaction-level spending data](http://community.openspending.org/research/standard/) no longer resolves and instead returns H

[2015-07-20 13:51] danfowler commented on #45
Hey @jindrichmynarz thanks for flagging this!  That part of the site was in a git submodule that has now been updated with redirection from the old /research/standard/ URL to the new /resources/standard/ URL.  The relevant links in the navigation bar have been added, too.

[2015-07-20 13:51] #45 closed

[2015-07-20 14:05] jindrichmynarz commented on #45
Great. Thanks for fixing it!

[2015-08-11 08:26] #42 closed

[2015-08-11 09:43] rgrp opened #48 "Remove mailing list links on contact page"
e.g. we have links on http://community.openspending.org/about/contact/

I suggest we now remove these mailing list links in favour of the forum. Note I'm not sure the forum link is super clear so I would repeat in the bullet point lists (i.e. basically replace mailing list item in the lists with a link to the forum).

I'd also suggest we repeat the irc link under developer section (or get rid of t

[2015-08-13 08:43] rgrp opened #49 "Key links (e.g. social media) in top navbar"
* Facebook http://facebook.com/OpenSpending
* Twitter https://twitter.com/openspending
* Forum https://discuss.okfn.org/c/openspending

Nice to have icons for them.

@mintcanary is there a way to make this reasonably generic / configurable. Also how would this work on individual pages (not front page) - would be nice to keep consistent but also reasonably clean.

[2015-08-13 09:54] smth commented on #49
Technically, there are already precedents for what you want to do.
- The discussion, donate, source code links in the footer are [configurable](https://github.com/openspending/dotorg/blob/gh-pages/_config.yml#L9-L12).
- The edit page link can be [enabled per page](https://github.com/openspending/dotorg/blob/gh-pages/_config.yml#L95).

The bigger challenge is space. Given you don't necessarily want

[2015-08-13 09:59] rufuspollock commented on #49
I do want the links on the front page - definitely want them (and at the top navbar)

[2015-08-17 12:48] danfowler commented on #48
I rewrote the contact page a bit and removed another reference to the mailing lists somewhere else.

[2015-08-17 12:48] #48 closed

[2015-08-18 12:51] rgrp opened #50 "Main page title and h1 in page content are same size"
@mintcanary just flagging it appears a page "title" and the h1 in the main content are the same size. I'd expect page title to be larger (and expect to be able to use h1s inside page content).

What do you reckon?

[2015-08-18 13:32] rgrp opened #51 "Slide Deck Introduction page (sort of an orphan)"
Note quite sure where this page came from: http://community.openspending.org/about/community-site/slide-deck-introduction/

I think this is a bit of an orphan and we want to delete and put slide deck on the front page or just delete and put slide deck on a page called "Presentations" or similar.

/cc @danfowler for your input as czar of the migration

[2015-08-18 15:19] smth commented on #50
Yes, the "title" is simply an `h1`. While it would be quite simple to differentiate these, I don't see the logic. If your heading is intended to denote a sub-section of the main title / part of the same article (as the desire for it to be smaller suggests), should you not be using an `h2`?

[2015-08-18 16:41] rufuspollock commented on #50
@mintcanary the logic is that semantically a page title (i'm not talking about the first h1 in the content but about the _page title_) is different from an h1 in the page - its the overall title.

As an example see:

http://community.openspending.org/about/

Generally you could use h2 but then its odd - esp for non-tech users using markdown since `#` is just the natural thing for headings in the m

[2015-08-19 07:49] smth commented on #50
OK, I'll make other `h1`s smaller.

In my opinion though, the additional `h1`s in that example should be `h2`s.

[2015-08-19 08:00] pwalsh commented on #50
From an SEO perspective, there should only be one `h1` on any page - serving as the title.

[2015-08-19 08:05] rufuspollock commented on #50
@pwalsh ok i guess then pages should always have h2s. I'm ok with that. So @mintcanary the approach here is that all markdown authors should use h2 as their top level markup when writing docs - and we don't need to change h1s.

I will fix h1 to h2s in the relevant pages to do that. Maybe we note it somewhere in instructions too but not a priority :-)

[2015-08-19 08:14] smth commented on #50
Yes, SEO was part of my rationale (though this is becoming a less concrete rule in HTML5).

It'd be better if authors think of it in terms of the top level heading being generated automatically (which is the case).

[2015-08-19 08:15] rufuspollock commented on #50
@mintcanary i guess that was my point here - most authors will just see the markdown and have the title auto-generated. They then need to understand that they should not use `#` but always start with `##` which is not obvious. Anyway i think we have a resolution for now.

[2015-08-19 08:18] mintcanary opened #52 "activesupport missing from gemfile?"
I just tried running this and got: `Could not find activesupport-4.2.3 in any of the sources`.

[2015-08-19 08:21] smth commented on #50
We could always stop creating the heading from the page `title`, and have authors insert it manually with a `#` (that would mean editing all the pages though).

[2015-08-19 08:25] danfowler commented on #52
Hi @mintcanary can you try running `bundle install`?

[2015-08-19 08:30] smth commented on #52
Oops. Yes, that installed it :)

[2015-08-19 08:30] #52 closed

[2015-08-19 11:14] rufuspollock commented on #50
FIXED in https://github.com/openspending/dotorg/commit/54300949fd722dc57ff9bd06bca880bd4b418375

[2015-08-19 11:14] #50 closed

[2015-08-27 06:23] danfowler opened #53 "Make how to contribute/edit site more obvious"

[2015-08-28 07:53] danfowler commented on #51
OK, I cleaned this up a bit :ru:

[2015-08-28 07:53] #51 closed

[2015-08-28 09:06] rufuspollock commented on #51
Thanks though I'm still not sure a dedicated page is that useful - who would visit it?

Either we embed in front page (that's useful if we think deck is useful) or, if we do not think that is warranted, we probably want this in a page called "presentations" or similar where we collect not only this but other decks over time (what section this would come under is not clear but about seems reasonabl

[2015-08-28 13:22] rgrp opened #54 "Site search"
Can we do something simple like google custom search as per okfnlabs.org and integrate into top navbar

[2015-09-02 09:20] danfowler commented on #51
I'm not sure a slide deck is how I want to introduced to a website/community :smile:.  [/about/presentations/](http://community.openspending.org/about/presentations/) is a list of presentations. Perhaps it can be moved from a dedicated page to an entry in the "Presentations" collection, and still be listed in /about/presentations/

[2015-09-02 09:39] rgrp opened #55 "Get a "media" page and add links to main openspending logos"
May also need to work out what are the logos and whether we have all the ones we need (e.g. favicon, square one etc etc)

http://assets.okfn.org/p/openspending/img/

Note we have a square one on twitter i think ;-)

Aside: we have want to start storing assets in this repo (???)

[2015-09-02 09:41] rufuspollock commented on #51
OK. I would say a video or slidedeck (for those without videos) are standard intro practice on many websites i've been to - not perfect but better than a few words and allows people to get a sense of what we are doing - right now if i arrive I'm not sure i'd find out that quickly and people are notoriously poor at clicking.

As an initial move let's just get the standard presentations page and hav

[2015-09-06 16:00] rufuspollock commented on #45
@danfowler we should really mark the stuff in http://community.openspending.org/resources/standard/ as deprecated prominently and point people at http://fiscal.dataprotocols.org/.

Do you think we could do that? @jindrichmynarz would you like to help out - you'd be very welcome!

[2015-09-07 09:34] danfowler opened #56 "Add deprecation warning for /resources/standard/"
Mark the stuff in http://community.openspending.org/resources/standard/ as deprecated prominently and point people at http://fiscal.dataprotocols.org/

[2015-09-07 09:35] #56 closed

[2015-09-07 09:44] danfowler commented on #45
@rgrp I added a warning to the _layout html for that section

[2015-09-11 13:28] cecilaki commented on #54
Or suggesting the algolia search, very powerful and fast. They have a jekyll plugin + support community projects, open source and nonprofit projects by offering index records and operation queries.  https://github.com/algolia/algoliasearch-jekyll

[2015-09-11 13:55] cecilaki opened #57 "Removing old broken links in all pages"
Part of a content cleaning I spotted several pages with old broken links.
I will remove the old video links in the help section. It definitely doesn't help any more:)
http://community.openspending.org/help/

If you spot any others (and that might be the case) report it here or replace depending on the cases

[2015-09-11 15:56] cecilaki opened #58 "Style a better alignment of pictures"
In this page, would like to get the pics smaller + align them to each description

https://github.com/openspending/dotorg/blob/gh-pages/about/steering-group/index.md

[2015-09-14 07:19] danfowler commented on #58
I'm thinking putting each person in its own div, floating the figures (photos) left, and centering the figure captions.  I'd add this to main.scss

@mintcanary is there a more general solution that maps to Open Knowledge style guidelines?  Or do you have any specific guidelines on modifying the site Sass?

[2015-09-14 08:47] smth commented on #58
This is not really addressed in the guidelines. There is a suggestion that images should be within circles, but as this site deliberately ignores the guidelines in other respects, I wouldn't worry about that.

To lay this out I'd float the figures, as you suggest and give a left margin to the corresponding text. I think the figcaptions (names in this case) are fine left aligned, though may make mo

[2015-09-14 09:56] rufuspollock commented on #54
@cecilaki the one issue is we deploy on github pages so we can't use custom plugins ...

[2015-09-14 10:12] danfowler commented on #58
@mintcanary great suggestions, thanks

[2015-09-15 12:55] #58 closed

[2015-09-17 07:38] danfowler commented on #55
Will new logos be created for OpenSpending Next?

On 2 September 2015 at 12:39, Rufus Pollock notifications@github.com
wrote:

[2015-09-23 20:30] pwalsh opened #59 "Outdated "create a budget data package" page"
http://community.openspending.org/blog/2014/10/15/how-to-create-a-budget-data-package/

[2015-09-24 15:07] danfowler commented on #59
Earlier, I created a deprecation notice for some outdated info (http://community.openspending.org/resources/standard/), I suppose it's worth defining something generically for anything that currently references the old system.

[2015-10-09 09:17] danfowler opened #60 "Old GIFT report issues"
e.g. navigation not working as expected, some images broken.

[2015-10-09 09:32] #60 closed

[2015-10-16 08:19] Hazwany opened #61 "Unable to add source file(s) for a dataset for Malaysia Federal Budget."
I'm facing a problem in uploading a source file for a dataset for Malaysia Federal Budget.

I have tried using the Google publish link https://docs.google.com/spreadsheets/d/1yvXOtK4W9VSWtXm3sTZmS3V1jD8tqTI5e9nkGSmwywY/pub?gid=108177500&single=true&output=csv and the Plone link (from Sinar Project website) http://sinarproject.org/en/projects/open-spending-1/bajet-2015-ministerial-level-xlsx-sheet2

[2015-10-24 22:07] danfowler commented on #61
Hi @Hazwany, the specific issue should be resolved.  Can you try adding your file now?

[2015-10-27 10:32] danfowler commented on #61
Resolved.

[2015-10-27 10:32] #61 closed

[2015-11-11 13:19] #59 closed

[2015-11-17 13:45] danfowler opened #62 "Update favicon"

[2015-11-27 05:25] danfowler commented on #55
Closed with https://github.com/openspending/community.openspending.org/commit/89699051a0f7853fcc2cc1535ce8b8df453007b4

[2015-11-27 05:25] #55 closed

[2015-11-27 10:50] rufuspollock commented on #55
@danfowler could you also add a link to the page on the website where is located.

[2015-11-27 10:56] danfowler commented on #57
@cecilaki I've made a major refactor of the site which should address some of these issues.  I've added a deprecation warning for all /help/.

As you see more problems, please make new issues (maybe per page?)

[2015-11-27 10:56] #57 closed

[2015-11-27 10:57] #62 closed

[2015-11-27 14:24] danfowler commented on #55
@rgrp there's a link to the "media" page from [/meta/](http://community.openspending.org/meta/)

[2015-11-28 08:15] rufuspollock commented on #53
++1. I think we could do some quick guerilla user testing to see if people even see the "improve" this page on the side - my guess is **no**. I think we need to make this more prominent and we could experiment with various options:
- Colour it (and get a better icon when we lose the text on small pages)
- Move out from RHS of page (people ignore) to top of main section of text
  - may not need to

[2015-11-30 10:20] rgrp opened #63 "Contact page in main menu"
Current under About. Can we have this top level.

[2015-11-30 10:20] rgrp opened #64 "Auto-expand menu on front page"
I'm not sure many users realize there is a menu there and a lot of key info is there.

[2015-11-30 10:34] #63 closed

[2015-11-30 10:47] #64 closed

[2015-11-30 13:31] #39 closed

[2015-11-30 13:34] danfowler commented on #30
I think linking to https://discuss.okfn.org/users/{{ username }} is probably best.

[2015-11-30 14:05] danfowler commented on #64
@rgrp this was done. How do you like?

[2015-11-30 14:15] cecilaki commented on #64
@danfowler What about a "regular" horizontal menu that appears directly on the front page ?

[2015-11-30 14:18] danfowler commented on #64
@cecilaki can you say more?

[2015-11-30 20:07] rufuspollock commented on #30
@danfowler yes - it would be nice to have a `/members/` page. At the the start it could just link to the relevant "badge" page on the forum.

[2015-11-30 20:09] rufuspollock commented on #54
Here you go on the code in labs: https://github.com/okfn/okfn.github.com/blob/2aae9d0ce53c7f392d188574611baeeedf72c078/search/index.html

[2015-12-01 15:25] danfowler commented on #30
Like here: https://discuss.okfn.org/badges/116/openspending

[2015-12-02 11:37] hoony-o-1 commented on #44
I think there are two ways to fix it.
1. change line-height of .site-title.
2. change height of .site-menu button.

which is better?

[2015-12-02 12:37] danfowler commented on #44
Thanks @hoony! Another option might be to reduce the font size of the site title at a certain breakpoint.

[2015-12-02 12:39] hoony-o-1 commented on #44
that's nice, too. if then, it might be better to fix both of them, font-size and line-height. can I try?

[2015-12-02 12:40] danfowler commented on #44
Go for it! :smile:

[2015-12-02 12:43] hoony opened #65 "why does sidebar open automatically after I open the page?"
To me, it's something troublesome. Of course, there should be a reason to make it this way, but I'd like to hear other's thoughts :space_invader:

[2015-12-02 12:45] rufuspollock commented on #30
Yes :-)

[2015-12-02 12:45] rufuspollock commented on #65
This was supposed to be front page only.

[2015-12-02 12:53] danfowler commented on #65
It is :).

[2015-12-02 14:05] danfowler commented on #30
@hoony would you be interested in implementing?

[2015-12-03 00:14] hoony-o-1 commented on #65
I thought it's till tiresome to me even on front page only. :) got it!

[2015-12-03 00:14] #65 closed

[2015-12-03 00:16] hoony-o-1 commented on #30
cool! sure. where can I get users' list? do users add themselves like [okfnlabs.org](http://okfnlabs.org)?

[2015-12-03 07:43] danfowler commented on #30
@hoony in theory, but we don't have anything worked out.  For the time being, you could simply add a `index.md` file in /members/ and add a `redirect_to: https://discuss.okfn.org/badges/116/openspending` attribute.

[2015-12-03 07:48] rufuspollock commented on #30
@danfowler that badge is not granted to anyone much atm ;-) - e.g. could i and others start getting it :-)

Re this page on the community site. I do think having a proper page rather than a simple redirect is useful for e.g.
- Briefly what membership means
- How to become a member - i.e. how to get listed on https://discuss.okfn.org/badges/116/openspending
- Say that list of members is at https://

[2015-12-03 08:39] hoony-o-1 commented on #30
Ok, I understood.
- /members/
  - Briefly what membership means
  - How to become a member
  -  list of members is at https://discuss.okfn.org/badges/116/openspending

then, what content should be on `/members/{{username}}`? no need yet?

[2015-12-03 16:13] danfowler commented on #30
@hoony no need yet for content per member.

How to become a member: I would say that a group member can introduce themselves on [this thread](https://discuss.okfn.org/t/openspending-community-introductions/1145) and request to be added to the OpenSpending group.

[2015-12-03 17:07] rgrp opened #66 "Clarify distinction between different handbooks ..."
What these two the same thing? Which is the authoritative one?

* The Spending Data Handbook - https://github.com/openspending/handbook - last updated Nov 12 2012
* The master manuscript of the Spending Data Handbook - https://github.com/openspending/spending-data-handbook - last updated Dec 17 2013
  * This is the master manuscript of the Spending Data Handbook, the OpenSpending community's guide

[2015-12-04 07:19] hoony-o-1 commented on #30
got it, I'm working on it. I'll send pull request of base file for it soon.

[2015-12-04 07:21] hoony-o-1 commented on #44
@danfowler  Could you let me know editor style guide of openspending or okfn? I just added a few lines but almost of indentation(or EOL?) of that file has changed.

[2015-12-04 08:40] danfowler commented on #44
@hoony OK.  Here is the style guide: https://github.com/okfn/coding-standards

Can you try to prevent your editor from changing indentation and submit a pull request?

[2015-12-04 08:40] danfowler commented on #30
Great! :+1:

[2015-12-04 10:04] pudo commented on #66
I'm unfamiliar with the second one (spending-data-handbook), it seems to be an effort by Neil to clean up the original booksprint outcome. It looks very well-organised on first glance, so I'd potentially give it preference over the other (more chaotic) version. Perhaps we can just have that older version live in a subdir until we know it's the same thing, and potentially adopt the simpler repo nam

[2015-12-04 10:27] danfowler opened #67 "Move OSEPs into this repository"
OpenSpending Enhancement Proposals (OSEPs) are currently found here: https://github.com/openspending/osep/ and are found online here: http://labs.openspending.org/osep/

We would like to move the contents of the openspending/osep repo into this repository (see: https://github.com/openspending/openspending/issues/849)

[2015-12-04 11:24] rufuspollock commented on #66
@pudo thanks that makes a lot of sense :-)

[2015-12-04 14:44] danfowler opened #69 "New blog post on Fiscal Data Package"
What it is, why it is, where it's going:

Partially drawn from: https://discuss.okfn.org/t/budget-data-package-introduction-for-gift-june-2015/948

[2015-12-05 06:46] hoony-o-1 commented on #30
@danfowler @rgrp could you put contents on the list that should be on the page? each headers and contents.
1. what membership means
2. How to become a member
3. what content should I list on each member on the members of list

[2015-12-16 03:53] hoony opened #70 "is it open source? I'd love to fork this site to 'code for seoul' community site."
:space_invader: Can I?

[2015-12-16 06:21] pwalsh opened #71 "Add License"
Add an MIT license. BY not having a license, we are essentially saying this codebase is closed source.

[2015-12-16 06:22] pwalsh commented on #70
Hi @hoony yes the codebase is open source. We'll get a license added asap https://github.com/openspending/community.openspending.org/issues/71

Please use it!

[2015-12-16 08:58] hoony-o-1 commented on #70
awesome! Thanks you!

[2015-12-16 10:53] #70 closed

[2015-12-16 10:57] danfowler commented on #71
Closed by 619ecb9656a2127bc029017e8235e7c042f4c174

[2015-12-16 10:57] #71 closed

[2016-01-21 14:09] danfowler commented on #30
@hoony we're starting to rebuild our OpenSpending community around this new platform, so I'm open to suggestions as to what _you_ think it means to be a member of the OpenSpending community.  What do you think?

[2016-01-22 02:32] hoony-o-1 commented on #30
In my experience to organize code for seoul community, there could be two kinds of contributors of a community
1. Project Contributors
   - contributors to upload data to OpenSending
   - contributors to sub projects using OpenSpending data such as wheredoesmymonygo(every local versions)
2. Community Contributors
   - contributors to maintain a community(website contributors or discourse manager)

[2016-01-22 12:06] danfowler commented on #30
@hoony excellent!  this reminds me that this issue is directly related to our discussion of how to [/get-involved/](http://community.openspending.org/get-involved/).

[2016-01-25 01:44] hoony-o-1 commented on #30
exactly! 'if you got involved!?, then you've got a membership of OpenSpending!'

[2016-05-19 07:37] smth opened #73 "OK Panel needs updating"
Should be updated to use sources specified [here](http://a.okfn.org/html/oki/panel/).

Will in turn require [a small patch](https://github.com/okfn/handbook-theme/commit/8513c2da52e65ac413886b90427662fb3907f463) to this theme.

Edit: actually, [this patch](https://github.com/okfn/handbook-theme/commit/b05eb53eee22fefac4c0b5f2ee1f2e56d5a4d1ab).

[2016-05-19 07:42] cecilaki commented on #73
Ok. Do you take care of the patch in the community site then?
Excellent UX by the way!

[2016-05-19 07:44] smth commented on #73
I suggest one person does both, that person can be me. Just noting here so it doesn't get forgotten.

[2016-05-19 07:47] cecilaki commented on #73
If you're happy with it, then it could be you and it won't be forgotten.
With both, do you refer to the community + openspending.org?

[2016-05-20 11:43] smth commented on #73
By both I meant:
- Sources updated
- Patch applied

[2016-05-20 11:48] smth opened #74 "Problem loading html_filters plugin"
I get the following error when trying serve the site locally:
[code]
nokogiri (1.6.7.2) is installed however.

Any ideas?

[2016-05-20 12:10] danfowler commented on #74
Hm, can you try:

`bundle install`

Maybe also `bundle exec jekyll serve` instead of `jekyll serve`?

[2016-05-23 08:24] smth commented on #74
Ah yes, `bundle exec jekyll serve` gets around this. Thanks.

[2016-05-23 08:24] #74 closed

[2016-05-23 08:56] danfowler commented on #74
👍

[2016-06-15 15:02] StephenAbbott opened #79 "Fix link to Trello board in Roadmap section on http://community.openspending.org/next/"
Currently returning 'Trello board does not exist, or is not public' for https://trello.com/b/BNXzXDEc/openspending-next

[2016-06-16 10:53] cecilaki commented on #79
@StephenAbbott fixed (removed cause not relevant any more)

[2016-06-16 10:53] #79 closed

[2016-07-14 15:30] seegerseeger opened #80 "Mapquest tile access broken"
The mapquest links across the site are not working anymore, see screenshot from http://labs.openspending.org/maps/
![screen shot 2016-07-14 at 17 17 44](https://cloud.githubusercontent.com/assets/9677965/16845216/73dc5df6-49e8-11e6-90b9-7ab9d08fabb3.png)

[2017-11-07 10:21] pachevalier opened #83 "Broken links"
Links to the datasets in this file community.openspending.org/help/guide/fr/quels-types-de-donnees-financieres-peut-on-ajouter-dans-openspending/index.md are broken.

[2019-04-08 18:37] tlacoyodefrijol commented on #80
Outdated. New version won't include mapquest map or links to labs.openspending.org. Closing issue

[2019-04-08 18:37] #80 closed

[2019-04-08 18:38] tlacoyodefrijol commented on #83
This is outdated. New structure doesn't have these routes. Will try to include the resources in the new versions. Closing issue for now

[2019-04-08 18:38] #83 closed

[2019-04-08 18:38] #73 closed

[2019-04-09 21:56] tlacoyodefrijol opened #88 "Add links to the tools in the tool section"
Update links at http://community.openspending.org/about/tools/

[2019-04-11 20:35] tlacoyodefrijol commented on #88
Fixed with #89

[2019-04-11 20:35] #88 closed

[2019-04-11 20:35] #69 closed

[2020-06-04 19:21] schlos opened #94 "Resources dead link in Fiscal Standard"
https://github.com/openspending/community.openspending.org/blob/gh-pages/resources/index.md#L36 (line 36)

[2020-06-05 10:02] #94 closed